body {
    background-image:url("github.io/images");
    background-size: cover;
    background-position: center;
    padding-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

ul {
list-style-type: disc;
}

ol {
list-style-type: upper-latin;
}

span {
list-style: none;
color: yellowgreen;
 font-size: 25px;    
}

 